{% extends "base.html" %}
{% block header %}
  <h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block fullcontent %}
<div id="full-content">
    <form  method="POST" action="/genre">
        <div class="row">
          <div class="col-100">
            <label for="name">Add a Genre</label>
            <input type="text" id="gname" name="name" placeholder="Genre name.." autofocus="" required>
          </div>
        </div>
        <div class="col-100">
          -- and / or --
        </div>
        <div class="col-100">
          <label for="name">Remove a Genre</label>
          <select id="genres" name="genres">
              {% for genre in genre %}
              <option value="{{ genre.name }}">{{ genre.name }}</option>
              {% endfor %}
          </select>
          <div>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
        {% endif %}
        </div>
        <div class="row">
          <a class="can_but" href="{{url_for('main.home')}}">Cancel</a>
          <input type="submit" value="Submit">
        </div>
    </form>
</div>
{% endblock %}
