{% extends "base.html" %}
{% block header %}
  <h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block fullcontent %}
<div id="full-content">
    <form method="POST" action="/track">
        <div class="row">
          <div class="col-25">
            <label for="Tname">Track Name</label>
          </div>
          <div class="col-75">
            <input type="text" id="tname" name="name" placeholder="Track Name">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="slug">slug</label>
          </div>
          <div class="col-75">
            <input type="text" id="slugid" name="slug" placeholder="slug-name">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="genre">Genre</label>
          </div>
          <div class="col-75">
            <select id="genres" name="gen_id">
              {% for genre in genre %}
              <option value="{{ genre.id }}">{{ genre.name }}</option>
              {% endfor %}
            </select>
          </div> 
        </div>
        <div class="row">
          <div class="col-25">
            <label for="description">Description</label>
          </div>
          <div class="col-75">
            <textarea id="description" name="description" placeholder="Write something.." style="height:200px"></textarea>
          </div>
        </div>
        <div class="row">
          <a class="can_but" href="{{url_for('main.home')}}">Cancel</a>
          <input type="submit" value="Add Track">
        </div>
    </form>
</div>
{% endblock %}
